modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
BINANCE_API_KEY = "hOVWo9iJ8BcvbIZSNKwgnIyjHlna3xMrFBc5GA0keAx6VxBPaOBIPG7M3lJq4bbw"
BINANCE_SECRET_KEY = "b9QKY3qthBwduBQjVgnnOhVaKdYttiR0QK0lIvFpFA8Ap38HAM7A8xjfcofAY87A"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80
